<template>
  <div class="flex flex-col">
    <div class="mt-4 mx-auto">
      <button class="btn btn-wide" for="my-modal" @click="start_txt_to_speech">
        Record
      </button>
    </div>
    <div class="my-4 mx-auto">
      <span contenteditable="false" id="spanfield" style="min-width: 20vw; max-width: 80vw">Your text is shown here.
      </span>
    </div>
    <div class="mt-4 mx-auto">
      <a class="btn btn-error btn-wide" @click="stop_txt_to_speech">Stop</a>
    </div>
    <div class="mt-4 mx-auto">
      <a id="save_btn" href="#my-modal-2" class="btn btn-error btn-wide hidden">Save</a>
    </div>
  </div>
  <div class="hidden mt-3 w-1/2 mx-auto alert alert-success shadow-lg" id="upload_info">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" class="hidden stroke-current flex-shrink-0 h-6 w-6" fill="none"
        viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>Uploaded!</span>
    </div>
  </div>
  <div class="hidden mt-3 w-1/2 mx-auto alert alert-error shadow-lg" id="upload_error">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
    <span>Error, not uploaded!</span>
  </div>
</div>
  <div class="modal" id="my-modal-2">
    <div class="modal-box h-1/2 flex flex-col items-center">
      <h3 class="font-bold text-lg text-center">Upload</h3>

      <input id="filename_input" type="text" placeholder="Filename here"
        class="mt-4 input input-bordered w-full max-w-xs" />
      <div class="modal-action">
        <a href="#" id="save_btn_modal" class="btn" @click="save_to_nc">Upload</a>
      </div>
    </div>
  </div>
</template>

<script>
import { createClient } from "webdav/web";
export default {
  data() {
    return {
      //declaration of variables
      runtimeTranscription_: "",
      transcription_: Array,
      lang_: "",
      recognition: null,
      result_object: Object,
      save_btn: Object,
      save_btn_modal: Object,
      filename_input: Object,
      upload_info: Object,
      old_text: "",
      client: Object,
      fsSystem: Object,
    };
  },
  methods: {
    async grep_fs() {
      // get the first level of the file system to made a folder chooseable
      console.log("grep_fs method call");
      this.fsSystem = await this.client.getDirectoryContents("/");
      for (let path of this.fsSystem) {
        console.log("File system path: " + path.filename.split("/")[1])

      }
      console.log("grep_fs finish");
    },
    create_speech_recognition() {
      //setup the speech recognation api
      console.log("create_speech_recognition method call");
      window.SpeechRecognition =
        window.SpeechRecognition || window.webkitSpeechRecognition;
      this.recognition = new SpeechRecognition();
      this.recognition.lang = this.lang_;
      this.recognition.interimResults = false;
      this.recognition.continuous = false;
      console.log("create_speech_recognition finish");
    },
    setup_variables() {
      // setup the variables
      console.log("setup_variables method call");
      this.lang_ = import.meta.env.VITE_SPEECH_LANG;
      this.result_object = document.getElementById("spanfield");
      this.save_btn = document.getElementById("save_btn");
      this.save_btn.classList.add("hidden");
      this.upload_info = document.getElementById("upload_info");
      this.upload_info.classList.add("hidden");
      this.upload_error = document.getElementById("upload_error");
      this.upload_error.classList.add("hidden");
      this.filename_input = document.getElementById("filename_input");
      console.log("setup_variables finish");
    },
    setup() {
      // setup the app flow
      console.log("setup method call");
      this.setup_variables();
      this.client = createClient(import.meta.env.VITE_NEXTCLOUD_WEBDAV_URL, {
        username: import.meta.env.VITE_USER,
        password: import.meta.env.VITE_PASSWORD,
      });
      this.grep_fs();
      this.create_speech_recognition();
      console.log("setup finish");
    },
    async save_to_nc() {
      // save recorded text to nextcloud
      console.log("save_to_nc method call");

      const filename = "/" + this.filename_input.value + ".txt";
      console.log(`Save file to nextcloud, filename: ${filename}, text: ${this.old_text}`);
      const resp = await this.client.putFileContents(filename, this.old_text, {overwrite: false,});
      console.log(`Response from upload: ${resp}`);
      // show successful upload if the upload was successful
      if (resp) {
        this.upload_info.classList.remove("hidden");
      }else{
        this.upload_error.classList.remove("hidden");
      }
      console.log("save_to_nc finish");
    },
    capitalizeFirstLetter(string) {
      // Capitalize the first character
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    add_event_handling_speech_recognition() {
      // add event to speech recognition object
      console.log("add_event_handling_speech_recognition method call");
      this.recognition.addEventListener("result", (event) => {
        console.log(event.results);
        const text = Array.from(event.results)
          .map((result) => result[0])
          .map((result) => result.transcript)
          .join("");
        let new_text = "";
        if (this.old_text == "") {
          new_text = this.capitalizeFirstLetter(text);
        } else {
          new_text = this.old_text + "<br>" + this.capitalizeFirstLetter(text);
        }
        console.log(`The new_text is: ${new_text}`);
        this.result_object.innerHTML = new_text;
        this.old_text = new_text;
      });
      console.log("add_event_handling_speech_recognition finish");
    },
    start_txt_to_speech() {
      // initialisation of voice recording
      console.log("start_txt_to_speech method call");
      this.setup();
      this.result_object.contentEditable = "false";
      this.add_event_handling_speech_recognition();
      this.recognition.start();
      console.log("start_txt_to_speech finish");
    },
    stop_txt_to_speech() {
      //stop speech recording
      console.log("stop_txt_to_speech method call");
      this.recognition.abort();
      this.result_object.contentEditable = "true";
      this.save_btn.classList.remove("hidden");
      console.log("stop_txt_to_speech finish");
    },
  },
};
</script>
<style>
[contenteditable] {
  outline: 0px solid transparent;
}
</style>
